image:
  repository: pelegnakav/pelegtest
  tag: 17
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 8080        # container port
  nodePort: 30080   # port on your Minikube host
  
replicaCount: 1

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

nodeSelector: {}

tolerations: []

affinity: {}
  